*{
    box-sizing: border-box
}

body{
    background: #92bde7;
    color: #485e74;
    line-height: 1.6;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 1rem;
    font-size: 62.5%;
}

input{
    display: block;
}

textarea{
    resize: none;
}

#list{list-style: none; background: #eaeaea; min-height: 20vh; padding: 0;}
li {padding: 0.5rem; font-size: 1rem; border-bottom: 1px solid grey}
li:hover{background: #00000020}

.contact form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
}

.full{ grid-column: 1/3}

.contact form button, .contact form input, .contact form textarea{ width: 100%; padding: 1rem; border: 1px solid gray}

.contact form button{background: #c9e6ff; border:none; text-transform: uppercase}
.contact form button:hover, .contact form button:focus{background: #485e74}
.alert{
    display: none;
    text-align: center;
    padding: 1rem;
    color: #f7f7f7;
    background: #79c879;
    margin-bottom: 1rem;
}

.offline-notification {
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  -webkit-transform: translateY(-100%) translateX(-50%);
          transform: translateY(-100%) translateX(-50%);
  position: fixed;
  left: 50%;
  color: white;
  padding: 0.5em;
  text-align: center;
}
.offline-notification a {
  color: white;
}
.offline-notification a:visited {
  color: white;
}
.offline-notification:hover .offline-notification_explanation {
  display: block;
}

.offline-notification_explanation {
  display: none;
  background: inherit;
  padding-top: 1em;
}

.cta {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  justify-content: space-around;
}

.offline-msg {
  display: none;
}

.offline .offline-notification {
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  -webkit-transform: translateY(0) translateX(-50%);
          transform: translateY(0) translateX(-50%);
}
.offline .online-msg {
  display: none;
}
.offline .offline-msg {
  display: block;
}

body, html {
  margin: 0;
  height: 200vh;
}